<!DOCTYPE html>
<html lang="en">
<head>
  <title> queue form </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- import CDN, from W3SCHOOL, different from getbootstrp -->
  <link rel="stylesheet" 
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- end of CDN -->
  {% load static %}
  <link href="{% static 'queue/signin.css' %}" rel="stylesheet">
</head>

<body class="text-center">
  <div class="container">
    <form class="form-signin" method="post">
    {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Welcome to herobraine!</h1>
      <p>
        {% if validInput %}
        Ready to play?
        {% else %}
        Your input is invalid! {{msg}}
        {% endif %}
      </p>
      <div class="form-group">
          <label for="id_username">minecraft username:</label>
          {{ form.username }}
      </div>

      <div class="form-group">
          <label for="id_email">email:</label>
          {{ form.email }}
      </div>
      <div class="form-group">
          <label for="id_password">password:</label>
          {{ form.password }}
      </div>
      <button type="submit" class="btn btn-default">submit</button>
      <!-- <input type="submit" value="Submit"><br> -->
  </form>
  </div>
</body>
</html>
