<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Herobraine Home </title>
    <!-- import CDN, from W3SCHOOL, different from getbootstrp -->
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- end of CDN -->

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'home/home.css' %}" rel="stylesheet">

  </head>





<body class="text-center">
  <div class="container">
    <div class="title">
      <h1 class="h3 mb-3 font-weight-normal"> Welcome to Herobraine! </h1>
    </div>
    <div class="instructions-container">
      Instructions: <br/>
      1. Click "sign up for a new account" <br/>
      2. Type in a minecraft username <br/>
      3. Click the dropdown menu in the minecraft launcher, and "create new account" <br/>
      4. Press the green plus button and click "Free" <br/>
      5. Create an account with the username you registered <br/>
      6. Enter minecraft, press multiplayer and connect to "research server" <br/>
      7. Play! </br>
    </div>
    <div>
      <a href="/consent_form">sign up new account</a>
    </div>
    <div>
      <a href="/login/form">go to queue</a>
    </div>
  </div>
</body>
</html>
